<app-navbar></app-navbar>
<div class="main">
<section class="form-section">
    <h3>Student Sign Up</h3>
    <form action="dashboard" method="post" id="sah">
        <label>First Name</label><input type="text" required>
        <label>Last Name</label><input type="text" required>
        <label>Contact Number</label><input type="tel" required>
        <label>Course</label><input type="text" required>
        <label>Email</label><input type="email" name="email" autocomplete="off" required>
        <label>Password</label><input type="password" required>
        <p>Already registered? <a href="login" routerLink="/login">Login</a></p>
        <button type="submit" href="dashboard" routerLink="/dashboard">Sign Up</button>
    </form>
</section>
</div>
<script>
    window.onload=function(){
        document.getElementById("email").value="";
    }
</script>